<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Base.ListenTest"/>
        <listener class-name="Base.Transform"/>

    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/admin/IdeaProjects/TCSSelenium1" parallel="classes">

       <!-- <groups>
            <run>
                <include name="smoke"/>
            </run>

        </groups>-->
       <classes>
         <class name="TestNG.LoginTest"/>
<!--           <class name="TestNG.HomeTest"/>-->
           <!--<class name="TestNG.PaymentTest"/>-->
       </classes>

    </test>
</suite>